* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

nav {
    padding: 6.6%;
}

nav .title {
    font-size: 14px; 
    font-weight: bold;
}

.offcanvas-primary {
    display: none;
}

.fs {
    font-size: 14px;
}

#landing-page {
    position: relative;
    height: 600px;
    background-color: #F1F3FF;
}

.landing-page-title {
    margin: 30% 0 0 14.6%;
    font-size: 32px; 
    font-weight: 700;
}

.landing-page-desc {
    margin: 3% 0 0 14.6%;
}

.landing-page-button {
    margin: 3% 0 0 14.6%;
}

.landing-img {
    position: absolute; 
    right: 0; 
    top: 115px;
    padding-top: 10%;
    width: 45%;
}

#our-service {
    padding: 10% 8% 8% 8%;
    background: #E5E5E5;
}

.service-image {
    width: 374px; 
}

.our-service-title {
    font-size: 24px; 
    font-weight: 700;
}

#why-us {
    padding: 14% 8% 8% 8%;
}

.title h2 {
    font-size: 24px; 
    font-weight: 700;
}

.title-center { 
    text-align: center;
    padding: 0 0 8px 21px;
    line-height: 50px;
}

.title-center h2 {
    font-size: 24px; 
    font-weight: 700;
}

#testimonial {
    padding: 6% 8% 12% 8%;
}

.padding-image {
    padding-bottom: 15px;
}

#getting-started {
    text-align: center;
    line-height: 50px;
    color: white;
    padding: 8%;
}

.getting-started-title {
    font-size: 32px; 
    font-weight: 700;
}

.card-blue {
    background: #0D28A6;
    padding: 50px;
    border-radius: 10px;
}

.list-service ul {
    /* list-style-image: url('/assets/icon/checklist.png'); */
    list-style: none;
}

.list-service ul li {
    background: url(/assets/icon/checklist.png) left center no-repeat;
    font-size: 14px; 
    line-height: 40px;
    padding-left: 40px;
    position: relative;
    right: 32px;
}

p {
    font-size: 14px;
    font-weight: 300;
}

.card-title {
    font-weight: 700;
}

.btn-carousel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.carousel-control {
    background: #5cb85f;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-right: 10px;
}

.fa-angle-left, .fa-angle-right {
    color: white;
}

.checked {
    color: #F9CC00;
}
#faq {
    padding: 12% 8% 12% 8%;
}

.faq-title {
    font-size: 24px; 
    font-weight: 700;
    padding-bottom: 20px;
}

.faq-desc {
    padding-bottom: 20px;
}

.fa-thumbs-up {
    color: white;
    background: #F9CC00;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-tag {
    color: white;
    background: #FA2C5A;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-clock-o {
    color: white;
    background: #0D28A6;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

.fa-certificate {
    color: white;
    background: #5CB85F;
    border-radius: 50%;
    padding: 10px;
    margin-bottom: 20px;
}

footer {
    background: #E5E5E5;;
    padding: 4% 8% 4% 8%;
    text-decoration: none;
}

.decoration a {
    text-decoration: none;
    color: #000;
}

.decoration ul {
    list-style-type: none;
}

.decoration ul li {
    padding-bottom: 7px;
}

.fa-facebook, .fa-instagram, .fa-twitter, .fa-envelope-o, .fa-twitch {
    color: white;
    background: #0D28A6;
    border-radius: 50%;
    padding: 10px;
}

/* Media Query */
/* Mobile */
@media (min-width: 320px) and (max-width: 576px) { 
    .offcanvas-primary {
        display: block;
    }
    
    #register-btn {
        display: none;
    }
    
    .landing-img {
        right: 0; 
        top: 400px;
        width: 90%;
    }

    .landing-page-title {
        margin: 30% 0 0 7.6%;
    }
    
    .landing-page-desc {
        margin: 3% 0 0 7.6%;
    }
    
    .landing-page-button {
        margin: 3% 0 0 7.6%;
    }

    .our-service-title {
        font-size: 24px;
        padding-top: 15px;
        text-align: left;
    }

    .our-service-desc {
        text-align: justify;
    }

    .list-service ul li {
        font-size: 12px;
        line-height: 30px;
    }
    
    .testimonial-desc {
        line-height: normal;
    }
    
    .padding-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .star-center-set { 
        text-align: center;
    }

    .display-set {
        display: none;
    }

    .why-us-sub-title {
        text-align: center;
    }

    .why-us-desc {
        text-align: center;
    }

    .getting-started-title {
        font-size: 24px;
    }

    .getting-started-desc {
        line-height: 25px;
    }

    .faq-title {
        text-align: center;

    }
    
    .faq-desc {
        text-align: center;
    }
    
    .decoration ul {
        margin-left: -37px;
    }

    .decoration a {
        padding: 5px;
    }

}

/* Tablet */

@media (min-width: 577px) and (max-width: 768px) {     

    #register-btn {
        display: none;
    }

    .landing-page-title {
        margin: 30% 0 0 14.6%;
        font-size: 24px; 
        font-weight: 700;
    }

    .landing-page-desc {
        margin: 3% 0 0 14.6%;
    }

    .landing-page-button {
        margin: 3% 0 0 14.6%;
    }

    .landing-page-desc {
        font-size: 14px;
    }

    .landing-img {
        top: 210px;
        width: 70%;
    }

    .our-service-img {
        width: 50%;
        display: block;
        margin: 0 auto;
    }

    .our-service-title {
        padding-top: 18px;
        text-align: left;
        padding-top: 20px;
    }

    .our-service-desc {
        text-align: justify;
    }

    .display-set {
        display: none;
    }

    .getting-started-title {
        font-size: 28px;
    }

    .getting-started-desc {
        line-height: 25px;
    }

    .decoration ul {
        margin-left: -37px;
    }

    .decoration a {
        padding: 5px;
    }
}

@media (min-width: 769px) and (max-width: 1440px) {

}